body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.carta {
  border: 2px solid white;
  border-radius: 10px;
  width: 120px;
  height: 150px;
  background-size: cover;
}
.vida {
  display: flex;
  border: 1px solid wheat;
  border-radius: 50%;
  width: 20px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}
.board {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
}
.section1 {
  display: flex;
  border: 1px solid white;
}
.section2 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(112, 45, 45);
  justify-content: center;
  align-items: center;
}
.section3 {
  display: flex;
  border: 1px solid blue;
}
.cartasPlyer {
  display: flex;
  border: 1px solid yellow;
  margin-top: auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.puntos {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid yellow;
  transform: rotate(45deg);
  margin-left: 30px;
}
.pasarTurno {
  width: 90px;
  height: 30px;
  border: 1px solid blue;
  background-color: transparent;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  transition: transform 0.1s ease;
  font-size: 10px;
}
.pasarTurno:hover {
  transform: scale(1.1);
}
.pasarTurno:active {
  transform: scale(0.8);
}

.iconosSection1 {
  margin-top: 35vh;
}
.cartasJugadasPlyer {
  border: 1px solid gold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
.cartasJugadasAdv {
  margin-top: 240px;

  border: 1px solid gold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
